
/*---
Icons
@group			Note
@desc			Icons from [ZondIcons](http://www.zondicons.com/)
*/

/*---
Icons
@group			DesignElements/Icons
@desc			...
@modifier		icon--rounded	: Rounded
@modifier		icon--sm		: Small
@modifier		icon--md		: Medium
@modifier		icon--lg		: Large
@todo			Document
@author			Michael Ord
@tags			embedded,svg
---
<i aria-hidden="true" class="icon icon--star-full {modifier}"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/media/icons.svg#star-full"></use></svg></i>
*/
.icon
{
	$parent						: &;

	width						: 32px;
	height						: 32px;
	display						: inline-block;
	vertical-align				: middle;
	background					: transparent no-repeat 50% 50%;
	padding						: 0;
	margin						: 0;
	text-align					: center;
	line-height					: 1;
	position					: relative;
	transition					: all 0.1s linear;
	background-size				: 100% 100%;
	border						: 0;
	font-style					: normal;
	user-select					: none;
	transform-origin			: 50% 50%;

	svg,
	img
	{
		width					: 100%;
		height					: 100%;
		display					: block;
	}

	svg
	{
		fill					: currentColor;
		transition				: inherit;
	}

	&--rounded
	{
		background				: rgba(0, 0, 0, .05);
		border-radius			: 50%;
		padding					: .5rem;
	}

	&--sm
	{
		width					: 16px;
		height					: 16px;
	}

	&--md
	{
		width					: 32px;
		height					: 32px;
	}

	&--lg
	{
		width					: 64px;
		height					: 64px;
	}
}
